<h3>Locations</h3>
<p>
  <button class="btn btn-default" ng-click="sync()">Sync</button>
</p>

<table class="ui very basic celled striped table">
  <thead>
    <th>*</th>
    <th>ID</th>
    <th>Name</th>
    <th>Location</th>
  </thead>
  <tbody>
    <tr ng-repeat="location in Locations">
      <td>{{location.editing}}</td>
      <td>{{location.id}}</td>
      <td>
        <div class="ui fluid input">
          <input type="edit" ng-model="location.name" placeholder="{{location.name}}" ng-model-options="{updateOn: 'default blur', debounce: { 'default': 1000000, 'blur': 0 } }" ng-change="doneEditingLocation(location)" ng-focus="editingLocation(location)" />
        </div>
      </td>
      <td>
        <div class="ui fluid input">
          <input type="edit" ng-model="location.location" placeholder="{{location.location}}" ng-model-options="{updateOn: 'default blur', debounce: { 'default': 1000000, 'blur': 0 } }" ng-change="doneEditingLocation(location)" ng-focus="editingLocation(location)" />
        </div>
      </td>
    </tr>
  </tbody>
</table>

<h3>Channels</h3>
<p>
  <button class="btn btn-default" ng-click="sync()">Sync</button>
</p>

<table class="ui very basic celled striped table">
  <thead>
    <th>ID</th>
    <th>Name</th>
  </thead>
  <tbody>
    <tr ng-repeat="channel in Channels">
      <td>{{channel.id}}</td>
      <td>
        <div class="ui fluid input">
          <input type="edit" ng-model="channel.name" placeholder="{{channel.name}}" ng-blur="doneEditingChannel(channel)" />
        </div>
      </td>
    </tr>
  </tbody>
</table>

<h3>Locations to Channels</h3>
